---
---

<footer class="colofon">
  <div class="colofon-inner">
    <div class="colofon-title">
      Una nueva forma de <span class="em">viajar</span>.
    </div>
    <ul class="colofon-list">
      <strong>Reportaje</strong>
      <li>Cristina Mauro · Kilian Quintana</li>
      <li>Sofía González · Marta de No Copano</li>
      <li>Raquel González</li>
    </ul>
  </div>
</footer>
